<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RightFit</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="respon.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish&display=swap">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="img/newlogo.svg" alt="">
        </div>
        <div class="login_signup">

        </div>
        <div class="login_signup_respon">
            <div class="listingdiv">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                    class="bi bi-list openthenavbar" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
                </svg>
            </div>
            <div class="closingdiv">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-x-lg closethenavbar" viewBox="0 0 16 16">
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </div>
        </div>
    </div>
    <div class="menu_of_navbar">

    </div>
    <div class="content">
        <div class="joblistcontent">
            <div class="job_filter">
                <div class="search-container">
                    <div class="search">
                        <div class="search-left">
                            <input type="text" class="content_for_search"
                                placeholder="Search by job title or description">
                        </div>
                        <div class="search-right">
                            <img src="img/search icon.svg" class="search_icon" alt="">
                        </div>
                    </div>
                </div>
                <div class="filter-option-container">
                    <div class="job-type job-type-listing">
                        <img src="img/Black.svg" alt="" class="job-icon"> Job types
                        <img src="img/Vector (1).svg" alt="" class="downarrow">
                    </div>
                    <div class="department job-type space">
                        <img src="img/Vector.svg" alt="" class="job-icon">
                        Department
                        <img src="img/Vector (1).svg" alt="" class="downarrow">
                    </div>
                    <div class="dzongkhag job-type space">
                        <img src="img/pin.svg" alt="" class="job-icon">
                        Dzongkhag
                        <img src="img/Vector (1).svg" alt="" class="downarrow">
                    </div>
                </div>
            </div>
        </div>
        <div class="job">
        </div>

        <div class="job_types_popup">
            <div class="jobtypelist">
                <input type="checkbox" class="check1" value="Full Time"> Full Time
            </div>
            <div class="jobtypelist">
                <input type="checkbox" class="check1" value="Part Time"> Part Time
            </div>
            <div class="jobtypelist">
                <input type="checkbox" class="check1" value="Internship"> Internship
            </div>
            <div class="jobtypelist">
                <input type="checkbox" class="check1" value="Contract"> Contract
            </div>
        </div>
        <div class="department_types_popup">
            <div class="departmenttypeslist">
                <input type="checkbox" value="Marketing"> Marketing
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Finance"> Finance
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Human_Resource"> Human Resource
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Contract"> Contract
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Maintanence"> Maintenance
            </div>
            <!-- Additional departments -->
            <div class="departmenttypeslist">
                <input type="checkbox" value="Sales"> Sales
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Customer_Service"> Customer Service
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Product_Development"> Product Development
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Quality_Assurance"> Quality Assurance
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Information_Technology"> Information Technology
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Research_and_Development"> Research and Development
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Supply_Chain"> Supply Chain
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Logistics"> Logistics
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Public_Relations"> Public Relations
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Legal"> Legal
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Facilities_Management"> Facilities Management
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Training_and_Development"> Training and Development
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Environmental_Services"> Environmental Services
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Health_and_Safety"> Health and Safety
            </div>
            <div class="departmenttypeslist">
                <input type="checkbox" value="Procurement"> Procurement
            </div>
        </div>
        <div class="dzongkhag_types_popup">
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Paro"> Paro
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Thimphu"> Thimphu
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Haa"> Haa
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Punakha"> Punakha
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="WangduePhodrang"> WangduePhodrang
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Gasa"> Gasa
            </div>
            <!-- Additional dzongkhags -->
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Trongsa"> Trongsa
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Bumthang"> Bumthang
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Mongar"> Mongar
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Lhuentse"> Lhuentse
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Trashigang"> Trashigang
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Trashiyangtse"> Trashiyangtse
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="SamdrupJongkhar"> SamdrupJongkhar
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Pemagatshel"> Pemagatshel
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Zhemgang"> Zhemgang
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Dagana"> Dagana
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Tsirang"> Tsirang
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Sarpang"> Sarpang
            </div>
            <div class="dzongkhagtypeslist">
                <input type="checkbox" class="check" value="Samtse"> Samtse
            </div>
        </div>
        <script src="script.js"></script>
        <script src="js/filter.js"></script>
        <script type="module" src="js/landing.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>

</html>