<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RightFit</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="css/superadmin.css" />
    <link rel="stylesheet" href="respon.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <img src="img/newlogo.svg" alt="" />
      </div>
      <div class="login_signup"></div>
      <div class="login_signup_respon">
        <div class="listingdiv">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            fill="currentColor"
            class="bi bi-list openthenavbar"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </div>
        <div class="closingdiv">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-x-lg closethenavbar"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="menu_of_navbar"></div>
    <div class="content1">
      <div class="form">
        <form id="hrForm" class="form">
          <label for="fullName">Full Name:</label>
          <input
            type="text"
            id="fullName"
            name="fullName"
            required
          /><br /><br />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required /><br /><br />

          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            required
          /><br /><br />

          <label for="department">Department:</label>
          <input type="text" id="department" name="department" /><br /><br />

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="successful_msg">
      <div class="success_logo">
          <img src="img/checked.png" class="successful_img" alt="">
      </div>
      <div class="wording">
          Your Login is successful
      </div>
  </div>

  <div class="unsuccessful_msg">
      <div class="unsuccess_logo">
          <img src="img/incorrect.png" class="unsuccessful_img" alt="">
      </div>
      <div class="wording">
          Your Login is unsuccessful
      </div>
  </div>
    <script type="module" src="js/admin.js"></script>

    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </body>
</html>
